<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{{ page.title || 'Prawn' }}</title>
    <script src="/js/rainbow.min.js"></script>
    <script src="/js/languages/generic.js"></script>
    <script src="/js/languages/ruby.js"></script>
    <link href='/stylesheets/default.css' media='screen' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='page shadow'>
      <div id='header'>
        <h1>
          <img src='/images/prawn.png' />
          Prawn
        </h1>
        <hr />
      </div>
      <div id='links'>
        <a href='/index.html'>Home</a>
        <a href='/manual.pdf'>Manual</a>
        <a href='http://wiki.github.com/prawnpdf/prawn/'>Wiki</a>
        <a href='http://groups.google.com/group/prawn-ruby'>Mailing List</a>
        <a href='http://github.com/prawnpdf/prawn'>Github</a>
      </div>
      <div class='content'>
        {{content}}
      </div>
      <div class='bottom'>
        - Fast, Nimble PDF Writer for Ruby -
      </div>
    </div>
  </body>
</html>
