name: CI

on:
  push:
  pull_request:
  pull_request_target:
  schedule:
    - cron: "6 20 * * 6"

jobs:
  test:
    runs-on: ubuntu-latest
    container: ${{matrix.image}}
    strategy:
      fail-fast: false
      matrix:
        image:
          - ruby:2.5.0
          - ruby:2.5
          - ruby:2.6.0
          - ruby:2.6
          - ruby:2.7.0
          - ruby:2.7
          - jruby:9.2
        include:
          - image: ruby:rc
            continue-on-error: true
    steps:
      - uses: actions/checkout@v1
      - name: Set up Ruby
        run: |
          gem update --system > /dev/null
          gem --version
          gem install -g
      - name: Run tests
        run: rake
